<div class="container-fluid">
  <ng-progress></ng-progress>
    <div class="row ">
      <div class="col-12 text-center">
        <app-search-form (getName)='searchRepos($event)'></app-search-form>
      </div>
  </div>
  <div class="row">
    <div class="card">
      <div class="col-12">
        <div >
         <img src="../../assets/github.png" class="card-image-top" style="width: 200px;">
          <div class="table">
            <table class="table">
              <tbody>
               <tr *ngFor=" let repository of gitRepoRequest.searchRepo" >
                <td>
                  <h4>
                    <a style="text-align: center" href="{{repository.html_url}} " >{{repository.name}}</a>
                  </h4>
                  <p > Repository Owner:
                    <a href="{{repository.owner.html_url}}">{{repository.owner.login}}</a>
                  </p>
                  <p>Date Created : {{repository.created_at|date}}</p>
                  <p>Description : {{repository.description}}</p>
                </td>
              </tr>
              </tbody>
            </table>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>